{% extends 'gestion/base.html' %}

{% block content %}
<div class="create-header">
    <h2>👥 Clientes</h2>
    <a href="/clientes/crear/" class="btn-add btn-small">✨ Nuevo cliente</a>
</div>
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.correo }}</td>
                <td class="td-actions">
                    <a href="/clientes/{{ cliente.id }}/editar/" class="btn-edit btn-small">✏️ Editar</a>
                    <a href="/clientes/{{ cliente.id }}/eliminar/" class="btn-delete btn-small">🗑️ Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}