{% extends 'gestion/base.html' %}

{% block content %}
<h2>Empleados</h2>
<p><a href="/empleados/crear/">Crear empleado</a></p>
<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Cargo</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Acciones</th>
    </tr>
    {% for empleado in empleados %}
    <tr>
        <td>{{ empleado.id }}</td>
        <td>{{ empleado.nombre }}</td>
        <td>{{ empleado.cargo }}</td>
        <td>{{ empleado.telefono }}</td>
        <td>{{ empleado.correo }}</td>
        <td>
            <a href="/empleados/{{ empleado.id }}/editar/">Editar</a> |
            <a href="/empleados/{{ empleado.id }}/eliminar/">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}