{% extends 'gestion/base.html' %}

{% block content %}
<div class="create-header">
    <h2>💳 Facturas</h2>
    <a href="/facturas/crear/" class="btn-add btn-small">✨ Nueva factura</a>
</div>
<table>
    <tr>
        <th>ID</th>
        <th>Orden</th>
        <th>Fecha</th>
        <th>Subtotal</th>
        <th>Impuesto</th>
        <th>Total</th>
        <th>Método de pago</th>
        <th>Acciones</th>
    </tr>
    {% for factura in facturas %}
    <tr>
        <td>{{ factura.id }}</td>
        <td>{{ factura.orden.id }}</td>
        <td>{{ factura.fecha_factura }}</td>
        <td>{{ factura.subtotal }}</td>
        <td>{{ factura.impuesto }}</td>
        <td>{{ factura.total_factura }}</td>
        <td>{{ factura.metodo_pago }}</td>
        <td class="td-actions">
            <a href="/facturas/{{ factura.id }}/editar/" class="btn-edit btn-small">✏️ Editar</a>
            <a href="/facturas/{{ factura.id }}/eliminar/" class="btn-delete btn-small">🗑️ Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}