{% extends 'gestion/base.html' %}

{% block content %}
<div class="create-header">
    <h2>🪑 Mesas</h2>
    <a href="/mesas/crear/" class="btn-add btn-small">✨ Nueva mesa</a>
</div>
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Número</th>
                <th>Capacidad</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for mesa in mesas %}
            <tr>
                <td>{{ mesa.id }}</td>
                <td>{{ mesa.numero_mesa }}</td>
                <td>{{ mesa.capacidad }}</td>
                <td>{{ mesa.estado_mesa }}</td>
                <td class="td-actions">
                    <a href="/mesas/{{ mesa.id }}/editar/" class="btn-edit btn-small">✏️ Editar</a>
                    <a href="/mesas/{{ mesa.id }}/eliminar/" class="btn-delete btn-small">🗑️ Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}